.auth__button {
  margin-top: 216px;
  width: 358px;
  height: 50px;
  left: 461px;
  top: 558px;
  background: #FFFFFF;
  border-radius: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  }

  .auth__button:hover {
    opacity: .85;
  }

  @media screen and (min-width: 320px) and (max-width: 580px) {
    .auth__button {
      font-size: 16px;
      line-height: 19px;
      width: 260px;
      height: 46px;
    }
  }