.auth__input {
  max-width: 358px;
  width: 100%;
  margin-top: 30px;
  height: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #CCCCCC;
  background: transparent;
  border: none;
  border-bottom: 2px solid #CCCCCC;
}

@media screen and (min-width: 320px) and (max-width: 580px) {
  .auth__input {
      max-width: 260px;
  }    
}